<div class="container mt-5">
  <div class="text-center"> 
    <h1 class="display-4"> 
      Welcome to Morgan Wallen's Music Collection
    </h1>
    
    <div class="mt-4"> 
      <a href="<%= albums_path %>" class="btn btn-primary btn-lg">  
        View Albums
      </a>
    </div>
  </div>
</div>
